html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
    font-size: 15px;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

header h1 {
    font-size: 3rem;
    padding-top: 200px;
    border-radius: 5px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0 0 0 100px;
}

.components {
    position: relative;
    height: 55px;
    left: 10%;
}

a {
    text-decoration: none;
    color: black;
    display: flexbox;
}

a:hover, a:focus {
    background-color: #aad4cf;
}

.content {
    max-width: 1000px;
    width: 100%;
    background: hsl(174, 32%, 82%);
    font-size: 1rem;
}

div {
    /* make all the content center and with padding */
    margin: auto;
    padding: 0 10px 0 10px;
}

header {
    background-image: url(./images/lone-starfish-wide.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    color: white;
}

footer {
    text-align: right;
}

.description img {
    float: left;
    max-width: 300px;
    max-height: 300px;
    margin-right: 10px;
}

.description p {
    text-align: justify;
    box-sizing: border-box;
    margin-left: 15px;
}

#facts ul li {
    font-size: 0.9rem;
    /* make sure that it's a bit smaller than the rest of the page */
}

#contact section form {
    border: solid 1px;
    padding: 1.5rem;
    box-sizing: border-box;
}

input[type="text"], 
input[type="email"], 
textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;        
}

textarea {
    height: 150px;
    resize: vertical;
}