html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
    font-size: 15px;
    box-sizing: border-box;
}

.content {
    max-width: 1000px;
    margin: auto;
    background: hsl(174, 32%, 82%);
    font-size: 1em;
}

div {
    margin: auto;
    padding: 0 10px 0 10px;
}

header {
    background-image: url(./images/lone-starfish-wide.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 375px;
    max-width:inherit;
    color: white;
}

footer {
    text-align: right;
}

.description img {
    float: left;
    max-width: 300px;
    max-height: 300px;
}

.description p {
    text-align: justify;
}

#contact section form {
    border: solid 1px;
    padding: 1em;
}

#section {
    text-transform: uppercase;
}