body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(./images/lone-starfish-wide.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

#home{
    color: white;
}

div .container {
    font-size: 2rem;
    list-style-type: square;
    text-transform: uppercase;
}

article img {
    width: 300px;
    height: 300px;
}


h3 {
    font-weight: normal;
}