body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

header,footer {
    background-color: rgb(35, 132, 147);
}

.site-title {
    color: white;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

.hobbies {
    list-style-type: square;
}

ul li:nth-child(odd) {
    background-color: lightblue;
}

a {
    text-decoration: none;
    background-color: beige;
    border: 2px solid;
}

a.hover {
    background-color: red;
}