/* add border-box to all the elements */
* {
    box-sizing: border-box;
}

/* establish the maximum width, margin, height and font for the whole page */
body{
    max-width: 1200px; 
    margin: 0 auto;
    height: 100%;
    font-family: "Open Sans", Arial, Helvetica, "sans-serif";
}

/* add colour and height to the logo background */
.companyLogo{
    background-color: #c78c06;
    height: 150px;
}
/* add colour to the nav background */
.container{
    background-color: #222;
} 
li a:link,
li a:visited{
    list-style: none;
    text-align: center;
    color: white;
    text-decoration: none;
}
/* remove decoration and fix position for the rest of the nav */
li a:link,
li a:visited{
    text-decoration: none;
    height: 30px;
    color: #c78c06;
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 0 20px 0;
}
/* make the other buttons change colour when hovering or focusing */
li a:hover,
li a:focus{
    color: white;
}
/* make the home button inside the background */
.homeButton:link,
.homeButton:visited{
    position: relative;
    top: -40px;
    color: #222;
}
/* make the home button change colour when hovering or focusing */
.homeButton:hover,
.homeButton:focus{
    color: #c78c06;
}


/* add colour and padding to the searchbar */
.searchBar {
    background-color: #222;
    padding-bottom: 10px;
} 
/* Hide the label */
.searchBar label{
    position: absolute;
    top: -500px;
}
/* put the searchbar in flex to make it align and not wrap */
.searchBar form{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* define size for the searchbar input */
.searchBar input{
    width: 500px;
    height: 40px;
}
/* add styling to the magnifying glass button */
.searchBar button{
    height: 40px;
    width: 40px;
    color: #c78c06;
    background-color: #222;
    border: #c78c06 solid 2px;
}
/* make the search button the same colour as the other when hovered or focused */
.searchBar button:hover, 
.searchBar button:focus{
    color: white;
}

/* insert background image and prepare it to add some info */
#home{
    background-image: url("/final-project/images/main-banner.jpg");
    height: 100vh;
    background-size: cover;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* add rectangle on the background image with opacity */
#home h1, #home p, #home .buttonSecHome{
    background: rgb(34, 34, 34, 0.8);
    padding: 10px;
}
/* change the colours and sizes for header and paragraphs */
#home h1{
    font-size: 3.375em;
    font-weight: bolder;
    color: white;
    padding-bottom: 20px;
    padding-top: 30px;
}
#home p{
    color: white;
}
/* establish the size for the headers on the webpage */
h2{
    font-size: 2.25em;
    font-weight: bold;
}
h3{
    font-size: 1.5em;
    font-weight: bold;
}
h4 {
    font-size: 1em;
    font-weight: bold;
}

/* style button for this section */
#home .buttonSecHome button{
    background-color: #c78c06;
    height: 100px;
    width: 250px;
    font-size: 1.5em;
}
#home .buttonSecHome button:hover, 
#home .buttonSecHome button:focus{
    color: white;
}

/* create a flexbox for the about section, adding style */
#about{
    display: flex;
    flex-direction: column;
    background-color: #ffe6ac;
    padding: 15px;
}
#about h2, #about p{
    padding: 10px 0 10px 10px;
}
#about h2{
    padding-top: 30px;
    padding-bottom: 10px;
}
#about p{
    padding-bottom: 0;
}
/* align the section with the rest of the page */
#services,
#service h2{ 
    width: 95%;
    margin: 0 auto;
    padding: 10px;
}
#services h2{
    padding: 30px 0 20px 0;
}
/* create flexboxes for each service */
.boxDigitalTransformation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffe6ac;
    width: 100%;
    margin-bottom: 10px;
}
/* arrange the elements inside each flexbox */
.boxDigitalTransformation h3, .boxDigitalTransformation p{
    margin: 15px 0 0 15px;
    display: flex;
}
/* create a style that fits all the services buttons */
.buttonSecServices{
    background-color: #222;
    color: white;
    height: 100px;
    width: 200px;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonSecServices:hover, 
.buttonSecServices:focus{
    color: #c78c06;
}
.boxDigitalTransformation button{
    margin-left: 15px;
    margin-bottom: 10px;
}

.boxMarketing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffe6ac;
    width: 100%;
    margin-bottom: 10px;
}
.boxMarketing h3, .boxMarketing p{
    margin: 15px 0 0 15px;
    display: flex;
}
.boxMarketing img{
    width: 100%;
}
.boxMarketing button{
    margin-left: 15px;
    margin-bottom: 10px;
}
/* create button with smaller font for marketing */
.buttonSecMarketing{
    background-color: #222;
    color: white;
    height: 100px;
    width: 200px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonSecMarketing:hover,
.buttonSecMarketing:focus{
    color: #c78c06;
}

.boxVideoProd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffe6ac;
    width: 100%;
    margin-bottom: 10px;
}
.boxVideoProd h3, .boxVideoProd p{
    margin: 15px 0 0 15px;
    display: flex;
}
.boxVideoProd button {
    margin-left: 15px;
    margin-bottom: 10px;
}

.boxWebDev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffe6ac;
    width: 100%;
    margin-bottom: 10px;
    min-width: 300px;
}
.boxWebDev h3, .boxWebDev p{
    margin: 15px 0 0 15px;
    display: flex;
}
.boxWebDev button {
    margin-left: 15px;
    margin-bottom: 10px;
}

.boxPrint{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffe6ac;
    width: 100%;
    margin-bottom: 10px;
}
.boxPrint h3, .boxPrint p{
    margin: 15px 0 0 15px;
    display: flex;
}
.boxPrint button {
    margin-left: 15px;
    margin-bottom: 10px;
}

/* create vision section */
.vision {
    background-image: url(/final-project/images/vision.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    background-position: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vision h3, .vision p{
    color: white;
    padding-top: 20px;
    margin: 30px 0 0 15px;   
    display: flex;

}
.vision p{
    position: relative;
    top: -20px;
    display: flex;
}

.vision button{
    position: relative;
    top: -10px;
    background-color: rgb(34, 34, 34, 0.8);
    height: 300px;
    width: 200px;
    font-size: 20px;
    color: white;
    border: #c78c06 2px solid;
    margin-left: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vision button:hover,
.vision button:focus{
    color:#ffe6ac;
}

/* create section for the company's team */
#team{
    margin: 0 auto;
    width: 95%;
    padding: 10px 10px;
}
#team h2{ 
    padding: 30px 0 10px 0;
}
/* create a flexbox for each team member */
.aboutJohn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffe6ac;
    width: 100%;
    margin-bottom: 20px;
}
.aboutJohn h3, .aboutJohn h4, .aboutJohn p{
    margin: 15px 0 0 15px;
    display: flex;
}
.aboutJohn h4{
    padding-bottom: 5px;
    border-bottom: #c78c06 2px solid;
    width: 92%;
    display: flex;
}
.aboutJohn p{
    margin-top: 10px;
    margin-bottom: 20px;
}
.aboutBob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffe6ac;
    width: 100%;
    margin-bottom: 20px;
}
.aboutBob h3, .aboutBob h4, .aboutBob p{
    margin: 15px 0 0 15px;
    display: flex;
}
.aboutBob h4{
    padding-bottom: 5px;
    border-bottom: #c78c06 2px solid;
    width: 92%;
    display: flex;
}
.aboutBob p{
    margin-top: 10px;
    margin-bottom: 20px;
}
/* align the contact area with the rest of the page */
#contact h2{
    margin: 0 auto;
    width: 95%;
    padding: 10px 10px;
}
/* make the h3 aligned like the mockup */
#contact h3{
    padding: 20px 0 20px 15px;
}
/* make the form fit the rest of the page */
form{
    margin: 0 auto;
    width: 95%;
}
/* add style to the boxes of the form */
input{ 
    border-radius: 3px;
    padding: 4px;
    margin: 5px 0;
}
/* add style to make each area on the form fit */
#fullname{
    width: 100%;
}

#email{
    width: 100%;
}
#message{
    width: 100%;
    height: 150px;
    border-radius: 4px;
    padding: 4px;
    margin: 5px 0;
}
.buttonSend{
    background-color: #222;
    color: #c78c06;
    margin-top: 10px;
    width: 70px;
    height: 40px;
    font-size: 1.5em;
}
.buttonSend:hover,
.buttonSend:focus{
    color: #ffe6ac;
}
/* make the subsection fit the rest of the section */
.hoursOperation{
    width: 100%;
    margin: 0 auto;
}
.hoursOperation table{
    width: 95%;
    margin: 0 auto;
}
/* add style to the table */
.hoursOperation table th{
    text-align: center;
    padding-top: 10px;
}
.hoursOperation table td{
    padding-bottom: 20px;
}
.tableTitles{
    background-color: #ffe6ac;
    height: 30px;
}
.tableTitleDays, .tableTitleHours{
    border: solid #222 1px;
    height: 40px;
}
.tableTitleHours{
    border: solid #222 1px;
    text-align: center;
}
.tableDays{
    border: solid #222 1px;
    height: 40px;
    text-align: start;
    padding: 20px 0 0 20px;
}
.tableHours{
    border: solid #222 1px;
    text-align: start;
    padding: 20px 0 0 20px;
}
 /* make the subsection fit the rest of the section */
.location{
    width: 95%;
    margin: 0 auto;
    align-items: center;
}
.location iframe{
    position: relative;
    height: 600px;
    width: 100%;
}
/* add style to the footer */
footer{
    background-color: #222;
    color: #c78c06;
    height: 120px;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 40px;
}
/* fit the text within the footer */
.copyrightInfo, .unsplashLink{
    padding-bottom: 10px;
}
/* style the unsplash URL to give credit */
.unsplashLink a:link, 
.unsplashLink a:visited{
    color: #c78c06;
    text-decoration: underline;
}
.unsplashLink a:hover, 
.unsplashLink a:active{
    color: white;
}

@media screen and (min-width:760px){
    * {
        margin: 0 auto;
    }
    
    
    header{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        align-items: center;
        background-color: #222;
        height: 150px;
    }

    .companyLogo{
        background-size: cover;
        background-color: #222;
        grid-column: 2;
        padding: 20px;
    }
    .homeButton:link,
    .homeButton:visited{
        position: relative;
        top: -40px;
        color: #222;
        background-color: #c78c06;
    }

    .homeButton:hover,
    .homeButton:focus{
        color: white;
    }   


    .searchBar{
        width: 100%;
        grid-column: 6 / 8;
    }
    nav ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        top: 50px;
        left: 100px;
    }

    nav ul li{
        list-style: none;
        margin-right: 50px;
        font-size: 1.2rem;
    }

    #home{
        background-image: url("/final-project/images/main-banner.jpg");
        height: 100vh;
        background-size: cover;
        width: auto;
        background-repeat: no-repeat;
        background-position: center;
    }
    /* adapt the banner to desktop */
    #home h1, #home p, #home .buttonSecHome{
        background: rgb(34, 34, 34, 0.8);
        padding: 10px;
        margin: 0 40px;
    }
    #home h1{
        font-size: 3.375em;
        font-weight: bolder;
        color: white;
        padding-bottom: 20px;
        padding-top: 60px;
    }
    /* fit the about us page in a box with padding with the option to scroll */
    #about{
        width: inherit;
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: scroll;
        padding-right: 80px;
        padding-left: 80px;
        height: 300px;
    }
    #about img{
        grid-column: 1;
        width: 500px;
        height: 200px;
        height: auto;
    }
    #about .aboutContent{
        grid-column: 2;

    }
    /* Create a grid to make the services boxes fit in one bigger box */
    #services .boxServices{
        display: grid;
        grid-template-columns:  2fr 1fr 1fr 2fr;
        grid-template-rows: repeat(2, auto);
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        position: inherit;
    }
    #services .boxDigitalTransformation{
        grid-column: 1 / 3;
        grid-row: 1;
        display: flex;
    }
    #services .boxMarketing{
        grid-column: 3 / 5;
        grid-row: 1;
    }
    #services .boxMarketing{
        grid-column: 3 / 5;
        grid-row: 1;
    }
    #services .boxVideoProd{
        grid-column: 1 / 2;
        grid-row: 2;
        height: 500px;
    }
    #services .boxWebDev{
        grid-column: 2 / 4;
        grid-row: 2;
        height: 500px;

    }
    #services .boxPrint{
        grid-column: 4 / 5;
        grid-row: 2;
        height: 500px;
    }

    /* Create a box that fits the vision from each side of the page */
    .vision{
        background-image: url(/final-project/images/vision.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 40px;
    }
    /* Create a grid to make the pictures and bios more dynamic */
    #team h2{
        padding: 20px 0 10px 10px;
    }
    .aboutTeam * {
        margin: 0 auto;
        width: 98%;
        padding: 0;
    }
    .aboutJohn{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1;
    }
    .aboutJohn img{
        width: 100%;
    }

    .aboutBob{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /* invert the order for bob info */
    .aboutBob img{
        width: 100%;
        order: 1; 
    }
    /* create another grid to move the contact pieces */
    #contact .contentContact{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0 auto;
    }

    .contentContact .sendMessage{
        grid-column: 1;
        grid-row: 1;
        padding-left: 30px;
    }
    .contentContact .location{
        grid-column: 2;
        grid-row: 1;
        padding-right: 30px;
    }
    /* resize the map */
    .contentContact .location iframe{
        height: 80%;
        width: 95%;
    }
    
    /* align the table with the rest of the grid */
    .contentContact .hoursOperation{
        grid-column: 1 / span 2;
        padding-left: 20px;
        padding-right: 10px;
    }
}