html,body{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    font-family: Open-Sans, sans-serif;
}

.contentWebsite{
    width: 100%;
    margin: 0 auto;
}
.container{
    background-image: url("/final-project/images/logo.png"); 
    background-repeat: no-repeat;
    background-color: #c78c06;
    box-sizing: border-box;
    padding-bottom: 20px;
}
.container ul{
    padding-top: 160px;
}

.container ul li a:link, 
.container ul li a:visited, 
.container ul li a:hover,
.container ul li a:active{
    text-decoration: none;
    color: #222;
}

.otherList{
    background-color: #222;
}
.otherList li a:link,
.otherList li a:visited,
.otherList li a:hover,
.otherList li a:active{
    color: #c78c06;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
li{
    list-style: none;
    text-align: center;
}
.container li{
    text-decoration: none;
}


.searchBar{
    text-align: center;
    background-color: #222;
    padding-bottom: 5px;
}
.searchBar label{
    position: absolute;
    top: -500px;
}
.searchBar input{
    width: 500px;
    height: 25px;
}
.searchBar button{
    height: 30px;
    color: #c78c06;
    background-color: #222;
    border: #c78c06 solid 2px;
}

#home{
    background-image: url("/final-project/images/main-banner.jpg");
    height: 100vh;
    background-size: cover;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#home h1, #home p, #home .buttonSecHome{
    background: rgb(34, 34, 34, 0.8);
    padding: 10px;
}
#home h1{
    font-size: 3.375em;
    font-weight: bolder;
    color: white;
    padding-bottom: 20px;
    padding-top: 30px;
}
#home p{
    color: white;
}
#home .buttonSecHome button{
    background-color: #c78c06;
    height: 100px;
    width: 250px;
    font-size: 1.5em;
}
h2{
    font-size: 2.25em;
    font-weight: bold;
}
h3{
    font-size: 1.5em;
    font-weight: bold;
}
h4 {
    font-size: 1em;
    font-weight: bold;
}

#about{
    display: flex;
    flex-direction: column;
    background-color: wheat;
    padding: 15px;
}
#about h2, #about p{
    padding: 10px 0 10px 10px;
}
#about p{
    padding-bottom: 0;
}

#services{ 
    width: 95%;
    margin: 0 auto;
}
#services h2{
    padding: 30px 0 20px 0;
}

.boxDigitalTransformation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: wheat;
    width: 100%;
    margin-bottom: 10px;
}
.boxDigitalTransformation h3, .boxDigitalTransformation p{
    margin: 15px 0 0 15px;
}
.boxDigitalTransformation button {
    margin-left: 15px;
    margin-bottom: 10px;
}

.boxMarketing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: wheat;
    width: 100%;
    margin-bottom: 10px;
}
.boxMarketing h3, .boxMarketing p{
    margin: 15px 0 0 15px;
}
.boxMarketing button {
    margin-left: 15px;
    margin-bottom: 10px;
}

.boxVideoProd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: wheat;
    width: 100%;
    margin-bottom: 10px;
}
.boxVideoProd h3, .boxVideoProd p{
    margin: 15px 0 0 15px;
}
.boxVideoProd button {
    margin-left: 15px;
    margin-bottom: 10px;
}

.boxWebDev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: wheat;
    width: 100%;
    margin-bottom: 10px;
}
.boxWebDev h3, .boxWebDev p{
    margin: 15px 0 0 15px;
}
.boxWebDev button {
    margin-left: 15px;
    margin-bottom: 10px;
}

.boxPrint{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: wheat;
    width: 100%;
    margin-bottom: 10px;
}
.boxPrint h3, .boxPrint p{
    margin: 15px 0 0 15px;
}
.boxPrint button {
    margin-left: 15px;
    margin-bottom: 10px;
}

.buttonSecServices {
    background-color: #222;
    color: white;
    height: 100px;
    width: 200px;
    font-size: 1.5em;
}

.buttonSecMarketing{
    background-color: #222;
    color: white;
    height: 100px;
    width: 200px;
    font-size: 1.4em;
}

.vision {
    background-image: url(/final-project/images/vision.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: inherit;
    height: 250px;
    background-position: center; 
}
.vision h3, .vision p{
    display: flex;
    flex-direction: column;
    color: white;
    width: fit-content;
    padding-top: 20px;
    margin: 30px 0 0 15px;
}
.vision p{
    padding-top: 0;
}

.vision button{
    background-color: rgb(34, 34, 34, 0.8);
    height: 100px;
    width: 250px;
    font-size: 1.5em;
    color: white;
    border: #c78c06 2px solid;
    margin-left: 15px;
    margin-bottom: 10px;
}

#team{
    margin: 0 auto;
    width: 95%;
    padding: 10px 10px;
}
#team h2{ 
    padding: 30px 0 10px 10px;
}

.aboutJohn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: wheat;
    width: 100%;
    margin-bottom: 20px;
}

.aboutJohn h3, .aboutJohn h4, .aboutJohn p{
    margin: 15px 0 0 15px;
}
.aboutJohn h4{
    box-sizing: border-box;
    padding-bottom: 5px;
    border-bottom: #c78c06 2px solid;
    width: 96%;
    margin-right: auto;
}
.aboutJohn p{
    margin-top: 0;
    margin-bottom: 20px;
}
.aboutBob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: wheat;
    width: 100%;
    margin-bottom: 20px;
}

.aboutBob h3, .aboutBob h4, .aboutBob p{
    margin: 15px 0 0 15px;
}
.aboutBob h4{
    box-sizing: border-box;
    padding-bottom: 5px;
    border-bottom: #c78c06 2px solid;
    width: 96%;
    margin-right: auto;
}
.aboutBob p{
    margin-top: 0;
    margin-bottom: 20px;
}

#contact h2{
    padding: 30px 0 10px 10px;
}
#contact h3{
    padding: 30px 0 20px 10px;
}
form{
    margin: 0 auto;
    width: 95%;
}
input{ 
    box-sizing: border-box;
    border-radius: grey 1px;
    padding: 4px;
    margin: 5px 0;
}

#fullname{
    width: 100%;
}

#email{
    width: 100%;
}
#message{
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border-radius: grey 1px;
    padding: 4px;
    margin: 5px 0;
}
.buttonSend{
    background-color: #222;
    color: #c78c06;
    margin-top: 10px;
    width: 70px;
    height: 40px;
    font-size: 1.5em;
}

.hoursOperation table{
    width: 95%;
    margin: 0 auto;
}
.tableTitles{
    background-color: wheat;
    height: 30px;
}
.tableTitleDays{
    border: solid #222 1px;
    padding-top: 20px;
    height: 40px;
}
.tableTitleHours{
    border: solid #222 1px;
}
.tableDays{
    border: solid #222 1px;
    height: 40px;
    text-align: start;
    padding: 20px 0 0 20px;
}
.tableHours{
    border: solid #222 1px;
    text-align: start;
    padding: 20px 0 0 20px;
}

.location{
    width: 95%;
    margin: 0 auto;
}
.location iframe{
    width: 100%;
    margin-bottom: 20px;
}

footer{
    background-color: #222;
    color: #c78c06;
    height: 80px;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 40px;
}

.copyrightInfo, .unsplashLink{
    padding-bottom: 20px;
}

.unsplashLink a:link, 
.unsplashLink a:visited, 
.unsplashLink a:hover, 
.unsplashLink a:active{
    color: #c78c06;
    text-decoration: underline;
}

@media screen and (min-width:1200px){
    html,body{
        margin: 0 auto;
        height: 100%;
        font-family: Open-Sans, sans-serif;
    }

    header{
        background-color: #222;
        box-sizing: border-box;
        margin: 0 auto;
        display: flex;
    }
    .container{
        background-image: url(/final-project/images/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        /* background-position: center; */
        background-color: red;
    }
    .container li{
        background-color: red;
        grid-column: 2;
    }
    
    .container ul,
    .otherList ul,
    .searchBar{
        padding: 0;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        /* background-color: red; */
    } 

    .otherList ul li:nth-child(2) {
        grid-column: 2;
    }

    #home{
        background-image: url("/final-project/images/main-banner.jpg");
        height: 100vh;
        background-size: cover;
        width: auto;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #home h1, #home p, #home .buttonSecHome{
        background: rgb(34, 34, 34, 0.8);
        padding: 10px;
        margin: 0 40px;
    }
    #home h1{
        font-size: 3.375em;
        font-weight: bolder;
        color: white;
        padding-bottom: 20px;
        padding-top: 60px;
    }
    
    #about{
        box-sizing: border-box;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-right: 150px;
        padding-left: 150px;
    }
    #about img {
        grid-column: 1;
        width: 100%;
    }
    #about .aboutContent{
        grid-column: 2;
    }

    #services .boxServices{
        box-sizing: border-box;
        width: 95%;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 2fr;
        grid-template-rows: auto auto;
        gap: 10px;
        justify-content: center;
        align-items: stretch;
        margin: 0 auto;
    }
    #services .boxDigitalTransformation{
        grid-column: 1 / 3;
        grid-row: 1;
    }
    #services .boxMarketing{
        grid-column: 3 / 5;
        grid-row: 1;
    }
    #services .boxVideoProd{
        grid-column: 1 / 2;
        grid-row: 2;
    }
    /* #services .boxVideoProd img{
        height: 50%;
    } */
    
    #services .boxWebDev{
        grid-column: 2 / 4;
        grid-row: 2;
    }
    #services .boxWebDev img{
        height: 50%;
    }
    #services .boxPrint{
        grid-column: 4 / 5;
        grid-row: 2;
    }
    /* #services .boxPrint img{
        height: 50%;
    } */

    .vision{
        background-image: url(/final-project/images/vision.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 100px;
    }

    .aboutTeam{
        box-sizing: border-box;
        margin: 0 auto;
        width: 98%;
    }
    .aboutJohn{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }
    .aboutBob {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
    }
    .aboutBob img{
        grid-column: 2;
    }
    .aboutBob .bobDetails{
        grid-column: 1;
        grid-row: 1;
    }

}

