html {
    width: 1200px;
    border: 10px;
    margin: 0 auto;
}

body{
    font-family: Open-Sans, sans-serif;
}

.container{
    background-image: url("/final-project/images/logo.png"); 
    background-repeat: no-repeat;
    background-color: #c78c06;
    height: 200px;
}

li{
    list-style: none;
    text-align: center;
}

.container li{

}

.searchBar{
    text-align: center;
}
.searchBar label{
    position: absolute;
    top: -500px;
}

